/* ==== Reset ==== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #050505;
  color: #fff;
}
/* ==== hero ==== */
.hero-line {
  margin-bottom: 20px;
}
.hero-left h1 {
  font-size: 40px;
  font-weight: 800;
  line-height: 1.2;
}
.hero-left span {
  color: #ff3b3b;
}
.hero-left p {
  font-size: 18px;
}
.stat h2 {
  font-size: 36px;
}
.stat p {
  color: #aaa;
}
.hero-card {
  width: 320px;
}

/* ==== About ==== */
.about {
  padding: 100px 0;
  background: radial-gradient(circle at center, #3b0a0a, #000);
  color: white;
}
.about img,
.transition { 
  width: 100%;
  object-fit: cover;
  border-radius: 14px;
  transition: transform 0.4s ease; 
  cursor: pointer;
}
.about img:hover,
.about img:active,
.transition:hover,
.transition:active {
  transform: translateY(-10px);
}

.img1 { height: 260px; }
.img2, .img3 { height: 220px; }

@media (max-width: 900px) {
  .img1, .img2, .img3 { height: auto; }
  .about-features { grid-template-columns: 1fr; }
}
.about-line {
  width: 50px;
  height: 4px;
  background: #ff3b3b;
  margin-bottom: 15px;
}
.about-content h2 {
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 20px;
}
.about-content p {
  color: #ffffff;
  line-height: 1.7;
  margin-bottom: 20px;
}
.text-light-gray {
  color: #cfcfcf;
}
.about-features {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
  margin-top: 30px;
}
.feature {
  display: flex;
  gap: 15px;
  align-items: flex-start;
}
.feature span {
  width: 34px;
  height: 34px;
  background: #ff3b3b;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  flex-shrink: 0;
}
.feature h4 {
  margin:0;
  font-size: 18px; 
  font-weight: 600; 
}
.feature p {
    margin:0;
  font-size: 16px; 
  color: #ddd;
}

/* ==== Services ==== */
.services {
  background: #050505;
}
.services-header {
  margin-bottom: 60px;
}
.services-line {
  width: 60px;
  height: 4px;
  background: #ff3b3b;
}
.services-header h2 {
  font-size: 42px;
  font-weight: 800;
}
.service-card {
  border-radius: 14px;
  overflow: hidden;
  transition: 0.4s;
  border: 1px solid #222;
  min-height: 420px;
}
.service-card:hover {
  transform: translateY(-10px);
  border-color: #ff3b3b;
}
.service-card img {
  height: 180px;
  object-fit: cover;
}
.icon {
  width: 45px;
  height: 45px;
  background: #ff3b3b;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-size: 20px;
}
.service-content h3 {
  font-size: 30px;
}
.service-content p {
  color: #aaa;
  font-size: 17px;
  line-height: 1.6;flex-grow: 1;
}

/* ==== CTA ==== */
.cta {
  border-bottom: 1px solid rgba(255,255,255,0.15); 
}